@font-face {
  font-family: 'FT88';
  src: url('FT88.ttf') format('truetype');
}

body {
    background-color: rgb(234, 234, 234);
    font-family: 'Source sans pro';
    color: black;
      font-size: 1.2em;
      text-align: left;
      margin-left:50px;
      margin-right:50px;
  }

  h1 {
    font-family: 'FT88', serif;
    font-size: 2em;
    margin-top: 50px;
  }
  
  p {
    max-width: 800px;
  }

  .subt{    
    color: rgb(84, 84, 84);
    font-style: italic;
  }

  a {
    color: rgb(84, 84, 84);
    /* color: #f9383f; */
    margin-top: 50px;
  }

  .red {
    color:#f9383f;
  }
