
@font-face {
font-family: 'Inter', sans-serif;
}

@font-face {
font-family: 'DM Serif Display', serif;
}

@font-face {
  font-family: 'FT88';
  src: url('FT88.ttf') format('truetype');
}

@font-face {
  font-family: 'Sligoil-Micro';
  src: url('Sligoil-Micro.otf') format('opentype');
}

body {
    background-color: rgb(234, 234, 234);
    font-family: 'Inter';
    color: black;
    text-align: left;
    margin-left:50px;
    margin-right:50px;
  margin-top: 50px;
  margin-bottom: 50px;
  }

  h1 {
    font-family: 'DM Serif Display';
    font-size: 4em;
    font-style: italic;
    margin-top: 20px;
    max-width: 800px;
  }
  
  p {
    max-width: 800px;
  font-size: 1em;
  }

  .subt{    
    font-style: italic;
    color: rgb(84, 84, 84);
  }

  a {
    color: rgb(84, 84, 84);
  }

  .grey {
   color: rgb(84, 84, 84);
    font-style: italic;
  }

    /* color: #f9383f; */
