@media (max-width: 768px) {
}

@font-face {
      font-family: 'Monor';
      src: url('MonorRegular.otf') format('opentype');
    }

    @font-face {
        font-family: 'terminalgrotesque';
        src: url('VG5000-Regular.otf') format('opentype');
      }
    
      a {
       color: rgb(255, 2, 179);
      }

      .special-text {
        color: rgb(0, 0, 255);
    }
    
    html, body {
        height: 100%;
        margin: 0;
        background-color: rgb(217, 255, 0);
        font-family: 'Monor';
        color: rgb(0, 0, 0);
        text-align: left;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.65rem;
    }

    
    .container {
        display: flex;
        height: 100%;
        width: 100%;
    }


    .right-box {
        border: 1px solid #000000;
        overflow-y: scroll;
        padding: 20px;
        max-height: 70vh;

}

.right-container {
    display: flex;
    flex-direction: column;
}

    .left-container {
        display: flex;
        flex-direction: column;
    }

    .color-container {
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
    }

    .top-box {
        padding: 20px;
        border: 1px solid #000000;
        overflow-y: scroll; 
        max-height: 50vh;
        flex: 2;
    }

    .custom-p {
        padding-left: 50px; 
    }

    .suggestion-banner {
        display: none; /* Hide by default */
        position: fixed;
        overflow-y: scroll;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10px;
        z-index: 1000;
        font-size: 4rem;
        background-color:  rgb(217, 255, 0);
        text-align: left;
        font-size: 2rem;
    }


    .suggestion-banner .close-button {
        float: left;
        cursor: pointer;
        padding: 5px;
        color: rgb(217, 255, 0);
        background-color: rgb(255, 2, 179);
        font-size: 2rem;
        text-decoration: underline;
    }
